
.right{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 25px 15px 15px 25px;
    border: 1px solid black;

}
.form{
    width: 80%;
}
.title{
    font-size: 40px;
    font-family: YourChosenFont, sans-serif
}
.network{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 7%;
    width: 80%;
}
.networkTwitter{
    height: 100%;
    width: 100%;
    background-image: url('../../../images/tw.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.networkTwitter:hover{
    transform: scale(1.1);
}
.networkFacebook{
    height: 100%;
    width: 100%;
    background-image: url('../../../images/face.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.networkFacebook:hover{
    transform: scale(1.1);
}

.networkGithub{
    height: 100%;
    width: 100%;
    background-image: url('../../../images/github.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.networkGithub:hover{
    transform: scale(1.1);
}
.networkLinkedin{
    height: 100%;
    width: 100%;
    background-image: url('../../../images/link.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.networkLinkedin:hover{
    transform: scale(1.1);
}
.registartion_link{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 550px) {
    .right{
        border-radius: 15px;
    }
}
